<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h4 class="card-title">Total API Hit</h4>
                <table class="table">
                    <tbody>
                        <tr class="align-middle">
                            <td scope="row">Hari Ini</td>
                            <td class="fw-bold">15</td>
                        </tr>
                        <tr class="align-middle">
                            <td scope="row">Minggu Ini</td>
                            <td class="fw-bold">15</td>
                        </tr>
                        <tr class="align-middle">
                            <td scope="row">Bulan Ini</td>
                            <td class="fw-bold">15</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <h4>Spot bagus buat iklan ea :v</h4>
                <img class="img-thumbnail" width="480" height="400"
                    src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg"
                    alt="spot iklan">
            </div>
        </div>
    </div>
</div>