<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center mb-md-5 mb-3 fw-bolder">Login Kyoanna REST API</h3>
                <form action="/login" method="POST" id="login-form">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username" id="username"
                            placeholder="Isikan username akun anda...">
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                            placeholder="Isikan password akun anda...">
                        <span class="invalid-feedback"></span>
                    </div>
                    <div class="text-end align-items-center">
                        <span class="me-md-3 me-2">
                            Belum punya akun ? <a href="/daftar">Daftar</a>
                        </span>
                        <button type="submit" class="btn btn-primary px-md-5">
                            <i class="ti ti-user"></i> Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>